body {
	background-color: #f5f5f5;
    height: 100%;
    position: relative;
	section {
		margin-left: 250px;
		transition: margin 0.5s;
	}
	&.menu-short section {
		margin-left: 50px;
	}
}

@include media-breakpoint-down(xs) {
	body section, body.menu-short section {
		margin-left: 0;
	}
}

// Typography
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
	font-size: 60%;
}

// pagination
.page-link {
	color: $gray-700;
}

@each $color, $value in $colors {
	body.theme-#{$color} {
		// color active in theme
		.text-color-theme {
			color: $value;
		}
		.bg-color-theme {
			background-color: $value;
		}
		hr {
			border-color: $value;
		}
		// table hover
		.table-hover tbody tr:hover {
			background-color: rgba($value, 0.2);
		}
		// pagination
		.page-item.active .page-link,
		.page-item.active .page-link:hover {
			background-color: $value;
			border-color: $value;
			color: $white;
		}
		.page-link:hover {
			color: $gray-700;
		}
	}
}

.btn-rounded {
	border-radius: 50px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
